@using DFC.App.SkillsHealthCheck.Services.SkillsCentral.Enums
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Options
@using DFC.App.SkillsHealthCheck.Models
@inject IOptions<SkillsServiceOptions> _skillServiceOptions;
@model DFC.App.SkillsHealthCheck.ViewModels.Question.AssessmentQuestionViewModel

@{

    var id = string.Empty;
    var errorClass = Convert.ToBoolean(ViewData["QuestionAnswerError"]) ? "error" : string.Empty;
    var imageNumber = 0;
}


@if (Model.AssessmentType == AssessmentType.Spatial)
{
    <h3 class="heading-medium">
        @(new HtmlString(Model.QuestionAnswers.Question.Text))
    </h3> 
    
    if (!string.IsNullOrEmpty(Model.QuestionAnswers.Question.ImageURL))
    {
        <br />
        <div class="mechanical-images">
            <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{Model.AssessmentType}/{Model.QuestionAnswers.Question.ImageURL}")" title="@Model.QuestionAnswers.Question.ImageTitle" alt="@Model.QuestionAnswers.Question.ImageCaption" />
        </div>
    }

    if (Model.QuestionImages.Any())
    {
        <div class="abstract-images">
        @foreach (var image in Model.QuestionImages)
        {
            imageNumber++;
            <div class="image_numbers">
                    <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{Model.AssessmentType}/{image.Src}")" alt="@image.Alttext" title="@image.Title" />
                @if (imageNumber != Model.QuestionImages.Count())
                {
                    <span>@imageNumber</span>

                }
            </div>
        }
        </div>
    }
    else
    {
        @(new HtmlString(Model.QuestionAnswers.Question.DataHTML))
    }
}
else
{
    if (!string.IsNullOrEmpty(Model.QuestionAnswers?.Question.ImageURL))
    {
        <br />
        <div class="mechanical-images">
            <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{Model.AssessmentType}/{Model.QuestionAnswers.Question.ImageURL}")" @{
                if (!string.IsNullOrEmpty(Model.QuestionAnswers.Question.ImageTitle))
                {
                    <text> title="@Model.QuestionAnswers.Question.ImageTitle" </text>
                }
            } alt="@Model.QuestionAnswers.Question.ImageCaption" />
        </div>
    }
    if (Model.QuestionImages.Any())
    {
        <div class="abstract-images">
        @foreach (var image in Model.QuestionImages)
        {
            imageNumber++;
            <div class="image_numbers">
                <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{image.Src}")" alt="@image.Alttext" title="@image.Title" />
                @if (imageNumber != Model.QuestionImages.Count())
                {
                    <span>@imageNumber</span>
                }
            </div>
        }
        </div>
    }
    else
    {
        @(new HtmlString(Model.QuestionAnswers.Question.DataHTML))
    }

    <h2 class="govuk-heading-m">
        @(new HtmlString(Model.QuestionAnswers.Question.Text))
    </h2>
}


<form method="post" id="skillsForm" class="form" action="/skills-health-check/question/answer-question">
    <div class="form-group govuk-!-margin-bottom-5 @errorClass">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">
                @if (Model.QuestionImages.Any())
                {
                    <div class="abstract-images">
                        @foreach (var image in Model.QuestionImages)
                        {
                            imageNumber++;
                            <div class="image_numbers">
                                <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{image.Src}")" alt="@image.Alttext" title="@image.Title" />
                                @if (imageNumber != Model.QuestionImages.Count())
                                {
                                    <span>@imageNumber</span>}
                            </div>}
                    </div> }
                else
                {
                    @(new HtmlString(Model.QuestionAnswers.Question.DataHTML))
                }
            </legend>
            <span class="govuk-error-message">@Html.ValidationMessageFor(model => model.QuestionAnswer)</span>
            @{ foreach (var posibleResponse in Model.QuestionAnswers.Answers)
                {
                    id = string.Format("radio-{0}", posibleResponse.Value);

                    <label class="block-label govuk-label" for="@id">
                        @Html.RadioButtonFor(model => model.QuestionAnswer, posibleResponse.Value, new { id })
                        @if (Model.AssessmentType != AssessmentType.Abstract)
                        {
                            @posibleResponse.Text?.Replace("&pound;", "£")}
                        @if (!string.IsNullOrEmpty(posibleResponse.ImageURL))
                        {
                            <img src="@($"{_skillServiceOptions.Value.ImageUrl}/{Model.AssessmentType}/{posibleResponse.ImageURL.Trim()}")" alt="Image for @posibleResponse.Text.Trim()" />
                        }
                    </label> } }
        </fieldset>
    </div>
    <p>You must select an answer to continue.</p>
    <div class="form-group">
        @if (Model.QuestionAnswers.Question.Number != Model.ActualTotalQuestions)
        {
            <input class="govuk-button ncs-button__primary" type="submit" name="answerAction" value="Continue" />
        }
        else
        {
            <p>This is the final question.</p>
            <p>Return to the Skills health check page to download your latest report or complete more assessments.</p>
            <input class="govuk-button ncs-button__primary" type="submit" name="answerAction" value="Return to Skills health check page" />
        }

    </div>

    @Html.HiddenFor(model => model.AssessmentType)
    @Html.HiddenFor(model => model.QuestionAnswers.Question.Number)
    @Html.HiddenFor(model => model.QuestionNumber)
    @Html.HiddenFor(model => model.QuestionAnswers)

</form>
