@using DFC.App.SkillsHealthCheck.ViewModels.Question
@using DFC.App.SkillsHealthCheck.Services.SkillsCentral.Enums

@model DFC.App.SkillsHealthCheck.ViewModels.Question.BodyViewModel

@{
    var assessmentQuestionViewModel = Model.AssessmentQuestionViewModel;
}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        @if (@Model.AssessmentQuestionViewModel.QuestionNumber==1)
        {
            <a href="/skills-health-check" class="govuk-back-link">Back to start</a>

        }
        else
        {
            <a class="govuk-back-link" href="/skills-health-check/question?assessmentType=@Model.AssessmentQuestionViewModel.AssessmentType&questionNumber=@(@Model.AssessmentQuestionViewModel.QuestionNumber-1)">Back to previous question</a>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">  Question @assessmentQuestionViewModel.QuestionNumber out of @assessmentQuestionViewModel.ActualTotalQuestions</span> @assessmentQuestionViewModel.AssessmentTitle
        </h1>
        @if (!(assessmentQuestionViewModel is FeedBackQuestionViewModel) && assessmentQuestionViewModel.QuestionNumber == 1)
        {
            <h2 class="heading-large">
                @assessmentQuestionViewModel.AssessmentSubtitle
            </h2>
            <p>
                @Html.Raw(assessmentQuestionViewModel.IntroductionText)
            </p>
        }
        <partial name="@assessmentQuestionViewModel.ViewName" model="assessmentQuestionViewModel" />
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="_RightBar" model="@Model.RightBarViewModel" />
    </div>
</div>